.home {
    display: flex;
    flex-direction: column;

    /* hero section */
    .hero {
        .banner {
            background: url('../../assets/images/thisisengineering.png') no-repeat;
            background-size: cover;
            background-position: top;
            position: relative;
            padding: 120px 160px;
            display: flex;
            align-items: center;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 50px 20px;
                background-position: right;
            }

            @media screen and (max-width: 768px) {
                padding: 50px 20px;
                padding-top: 100px;
                background: #e6e5e5;
            }

            .banner-left {
                width: 100%;
                max-width: 45%;

                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }

                .col-top {
                    margin-bottom: 30px;

                    h1 {
                        font-weight: 800;
                        font-size: 48px;
                        line-height: 67.152px;
                        margin-bottom: 15px;
                        color: #038C33;

                        @media screen and (max-width: 768px) {
                            line-height: 57px;
                        }
                    }

                    .hero-text {
                        width: 100%;
                        max-width: 80%;
                        line-height: 24px;
                        color: #1F6036;

                        a {
                            color: #8FBF26;
                        }
                    }
                }

                .col-bottom {
                    display: flex;
                    align-items: center;
                    gap: 22px;
                    margin-bottom: 30px;

                    a {
                        font-weight: 500;

                        &:hover {
                            opacity: 0.8;
                        }

                        &.btn-1 {
                            background-color: #038c33;
                            color: #f2f2f2;
                            border-radius: 5px;
                            padding: 13.5px 40px;
                        }

                        &.btn-2 {
                            background: #add9bd;
                            color: #1f6036;
                            border-radius: 5px;
                            padding: 13.5px 40px;
                        }
                    }
                }
            }

            .blurred {
                height: 77px;
                background: rgba(0, 52, 18, 0.35);
                backdrop-filter: blur(16.5px);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    /* counter section */
    .counter {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;

        .counter-container {
            display: flex;
            padding: 174px 160px;
            position: relative;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 100px 20px;
            }

            @media screen and (max-width: 768px) {
                padding: 80px 20px;
                flex-direction: column;
                gap: 40px;
            }

            .counter-img {
                flex: 1;

                .img-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin-right: 40px;


                    @media screen and (max-width: 768px) {
                        margin-right: 0;
                    }

                    .girl-container {
                        width: 370px;
                        height: 370px;
                        border-radius: 50%;
                        overflow: hidden;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 10px -3px, rgba(0, 0, 0, 0.05) 0px 5px 6px -2px;


                        .girl {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .circle-1 {
                        position: absolute;
                        right: -10px;
                        top: -1.5rem;
                        z-index: -1;
                    }

                    .blurred-circle {
                        position: absolute;
                        width: 190px;
                        height: 190px;
                        border-radius: 199px;
                        background: rgba(249, 252, 254, 0.01);
                        backdrop-filter: blur(16.5px);
                        right: -10px;
                        bottom: 0;
                    }
                }
            }

            .counter-text {
                flex: 1;
                color: #038C33;
                padding-left: 40px;

                @media screen and (max-width: 768px) {
                    padding-left: 0;
                }

                .ct-top {
                    h2 {
                        font-size: 40px;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }

                    .ct-top-text {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        width: 100%;
                        max-width: 72%;
                        margin-bottom: 5px;

                        @media screen and (max-width: 768px) {
                            max-width: 100%;
                        }
                    }

                    .row {
                        display: flex;
                        align-items: center;

                        .count {
                            padding-right: 27px;
                            display: flex;
                            align-items: baseline;
                            flex-direction: column;

                            &:not(:last-child) {
                                border-right: 1px solid #D6D6D6;
                            }

                            &:not(:first-child) {
                                padding-left: 27px;
                            }

                            h2 {
                                font-size: 40px;
                                font-weight: 700;
                                line-height: 55.96px;

                                sup {
                                    font-size: 20px;
                                }
                            }

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }
                    }
                }

                .ct-bottom {
                    margin-top: 40px;
                }

            }

            .circle-2 {
                width: 12rem;
                height: 12rem;
                position: absolute;
                right: -65px;
                top: 40%;
                z-index: -2;

                @media screen and (max-width: 768px) {
                    top: 85%;
                }
            }
        }
    }

    /*features section*/
    .features {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 65px 160px;
        box-sizing: border-box;
        background: url("../../assets/images/dinny5_n\ 1.png") no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 50px 20px;
        }

        @media screen and (max-width: 768px) {
            padding: 50px 20px;
        }

        .features-bg {
            background-color: #038C33;
            opacity: 0.8600000143051147;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

        }

        .features-top {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #F2F2F2;
            margin-bottom: 40px;
            z-index: 1;

            h2 {
                font-size: 40px;
                font-weight: 700;
                line-height: 55.96px;
                margin-bottom: 15px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                width: 100%;
                max-width: 50%;
                text-align: center;

                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }
            }
        }

        .features-inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 31px;
            column-gap: 25px;
            z-index: 1;
            margin-bottom: 20px;

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
                ;
            }

            // features card
            .features-card {
                background: white;
                display: flex;
                padding: 24px 25px;
                border-radius: 5px;
                background: #F2F2F2;

                .circle-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .circle-stroke {
                        border-radius: 50%;
                        width: 95px;
                        height: 95px;
                        border: 2px dashed #F00;
                        box-sizing: border-box;

                        @media screen and (max-width: 768px) {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }

                .card-body {

                    .inner-card-b {
                        display: flex;
                        flex-direction: column;
                        padding-left: 18px;

                        .card-title {
                            font-size: 16px;
                            color: #038C33;
                            font-weight: 700;
                            line-height: 24px;

                        }

                        .card-text {
                            color: #1F6036;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            width: 100%;
                            max-width: 80%;

                            @media screen and (max-width: 768px) {
                                max-width: 100%;
                                font-size: 14px;
                            }
                        }
                    }

                }
            }
        }
    }

    /* about section */
    .about-section {
        box-sizing: border-box;
        padding: 65px 0 65px 180px;
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 50px 20px;

        }

        @media screen and (max-width: 768px) {
            padding: 50px 20px;
            flex-direction: column;
            gap: 60px;
        }

        .about-left {
            padding-right: 48px;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding-right: 28px;
            }

            @media screen and (max-width: 768px) {
                padding-right: 0;
            }

            .left-inner {
                max-width: 90%;

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    max-width: 100%;
                }

                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }

                h2 {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 55.96px;
                    margin-bottom: 15px;
                    color: #038C33;
                }

                p {
                    color: #003412;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }

                ul {
                    margin-bottom: 30px;
                    margin-top: 15px;

                    li {
                        color: #6C757D;
                        display: flex;
                        align-items: center;
                        line-height: 24px;

                        svg {
                            color: #038C33;
                        }
                    }
                }
            }
        }

        .about-right {
            border-radius: 0px 0px 0px 50px;
            width: 100%;
            overflow: hidden;
            position: relative;
            height: 400px;
            background: #6a8f75;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                height: 350px;
            }

            @media screen and (max-width: 768px) {
                height: 300px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                mix-blend-mode: overlay;


                &.circle {
                    position: absolute;
                    width: 15rem;
                    height: 15rem;
                    left: -4rem;
                    bottom: -4rem;
                }
            }
        }
    }

    /* classes section */

    .classes-section {
        box-sizing: border-box;
        width: 100%;
        background: #F9FCFE;

        .class-container {
            padding: 60px 157px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 50px 20px;
            }

            @media screen and (max-width: 768px) {
                padding: 50px 20px;
            }

            h2 {
                color: #038C33;
                font-size: 40px;
                font-weight: 700;
                line-height: 139.9%;
                /* 55.96px */
                text-align: center;
            }

            p {
                color: #1F6036;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            .class-cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 35px;
                margin: 50px 0;

                @media screen and (min-width: 768px) and (max-width: 1024px) {}

                @media screen and (max-width: 768px) {
                    grid-template-columns: repeat(1, 1fr);
                    padding: 0 61px;
                }

                .class-card {
                    border-radius: 5px 0px 5px 5px;
                    background: #FFF;
                    width: 100%;
                    overflow: hidden;

                    &:hover {
                        cursor: pointer;

                        .class-card-btn {
                            a {
                                background: #038C33;
                                color: #F2F2F2;
                            }
                        }
                    }

                    .class-card-top {
                        display: flex;
                        flex-direction: column;
                        padding: 40px;
                        align-items: center;

                        .class-card-img {
                            margin-bottom: 19px;
                            width: 215px;
                            height: 215px;
                            border-radius: 50%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        .class-duration {
                            display: flex;
                            align-items: center;
                            gap: 32px;
                            margin-bottom: 14px;

                            span {
                                font-size: 14.4px;
                                font-weight: 400;
                                line-height: normal;
                                font-family: 'Lato', sans-serif;
                            }

                            svg {
                                margin-right: 8px;
                                font-size: 12px;
                            }
                        }

                        .class-title {
                            h4 {
                                color: #038C33;
                                font-family: 'Lato', sans-serif;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 24px;
                                /* 150% */
                                margin-bottom: 5px;
                            }
                        }

                        .class-info {
                            p {
                                color: #6C757D;
                                text-align: center;
                                font-family: 'Lato', sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                /* 150% */
                            }
                        }
                    }

                    .class-card-btn {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 170.9%;
                        /* 23.926px */
                        border-radius: 0;
                        border-top: 1px solid #038C33;
                        border-bottom: 5px solid #038C33;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            width: 100%;
                            padding: 14px 0;
                            color: #038C33;
                            // &:hover{
                            //     background: #038C33;
                            //     color: #F2F2F2;
                            // }
                        }
                    }
                }
            }

            .course-btn {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    /* video section */
    .video-section {
        box-sizing: border-box;

        .video-container {
            padding: 100px 160px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 50px 20px;
            }

            @media screen and (max-width: 768px) {
                padding: 50px 20px;
            }

            .vid-section-top {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h2 {
                    color: #038C33;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 139.9%;
                    /* 55.96px */
                    text-align: center;
                    margin-bottom: 15px;
                }

                p {
                    max-width: 80%;
                    width: 100%;
                    color: #6C757D;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 32px;

                    @media screen and (max-width: 768px) {
                        max-width: 100%;
                    }
                }
            }


            .video-play {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 902px;
                height: 484px;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    height: 100%;
                }

                .video-play-bg {
                    position: absolute;
                }

                .img-wrapper {
                    width: 100%;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .play-circle {
                    position: absolute;
                    border-radius: 50%;
                    display: flex;
                    width: 114px;
                    height: 114px;
                    cursor: pointer;
                    opacity: 0.9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F9FCFE;

                    @media screen and (max-width: 768px) {
                        width: 60px;
                        height: 60px;
                    }

                    svg {
                        font-size: 4.4rem;
                        color: #038C33;
                        margin-left: 5px;

                        @media screen and (max-width: 768px) {
                            font-size: 2.8rem;
                        }
                    }

                    &:hover {
                        transform: scale(1.01);
                    }
                }
            }
        }
    }

    /* stories section*/
    .stories {
        width: 100%;
        height: 413px;
        background: url('../../assets/images/man-goat.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;


        .stories-bg {
            position: absolute;
            left: 0;
            top: 0;
            background: #8FBF26;
            // mix-blend-mode: overlay;
            opacity: 0.8600000143051147;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .stories-container {
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 53px 160px;

            h2 {
                color: #D6E9F7;
                font-family: 'Lato', sans-serif;
                font-size: 40px;
                font-weight: 700;
                line-height: 139.9%;
                /* 55.96px */
                z-index: 1;
            }

            .stories-avatar {
                z-index: 1;
                display: flex;
                align-items: center;
                gap: 41px;
                margin-top: 19px;
                margin-bottom: 15px;

                .avatar-side {
                    width: 85px;
                    height: 85px;
                    border-radius: 50%;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .avatar-main {
                    width: 135px;
                    height: 135px;
                    border-radius: 50%;
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;
                    
                    .dashed-circle {
                        border-radius: 50%;
                        border: 2px dashed #f2f2f2;
                        width: 135px;
                        height: 135px;
                        position: absolute;
                        left: 0;
                        top: 0;

                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                }
            }

            p {
                color: #003412;
                text-align: center;
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                font-style: italic;
                font-weight: 300;
                line-height: 24px;
                /* 150% */
                z-index: 1;
                max-width: 680px;
                width: 100%;
            }
        }
    }

    /* instructor section*/

    /* contact section*/
    .contact-section {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 250px;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 50px 20px;
        }

        @media screen and (max-width: 768px) {
            padding: 50px 20px;
        }

        .contact-top {
            h2 {
                color: #038C33;
                font-size: 40px;
                font-weight: 700;
                line-height: 139.9%;
                /* 55.96px */
                text-align: center;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            width: 100%;
            max-width: 940px;

            .form-row {
                display: flex;
                width: 100%;
                gap: 20px;
                margin-bottom: 20px;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }

                .input-group {
                    border-radius: 3px;
                    border: 1.4px solid #C4C4C4;
                    width: 100%;
                    overflow: hidden;

                    .form-input {
                        box-sizing: border-box;
                        border: 0;
                        outline: 0;
                        padding: 12px 19px;
                        width: 100%;
                        resize: none;
                    }
                }
            }

            .btn-row {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;

                .btn {
                    border: 0;
                    font-size: 16px;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }
    }
}