.footer {
    width: 100%;

    .footer-container {
        background: #003412;
        color: #F2F2F2;
        padding: 96px 166px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 50px 20px;
        }

        @media screen and (max-width: 768px) {
            padding: 50px 20px;
        }

        .footer-top {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 20px;
            }

            .footer-top-col {
                max-width: 274px;
                width: 100%;
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    padding: 50px 20px;
                }
        
                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }

                img {
                    width: 20%;
                    object-fit: contain;
                    flex-shrink: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}