@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-1 {
  background-color: #038c33;
  color: #f2f2f2;
  border-radius: 5px;
  padding: 13.5px 40px;
  
  @media screen and (max-width: 768px) {
    padding: 10px 25px;
    font-size: 14px;
  }
}

.btn-2 {
  background: #add9bd;
  color: #1f6036;
  border-radius: 5px;
  padding: 13.5px 40px;
}